<%= form_with(model: stress_record, class: "contents") do |form| %>
  <% if stress_record.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= t('stress_records.form.errors', count: stress_record.errors.count) %></h2>

      <ul>
        <% stress_record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :stress_relief_date %>
    <%= form.date_field :stress_relief_date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-1/5" %>
  </div>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :detail %>
    <%= form.text_area :detail, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5 text-center font-bold">
    <%= t('stress_records.form.perform_stress_relief') %>
  </div>

  <div class="my-5 flex justify-between" style="width: 100%;">
    <%= render 'stress_slider', form: form, label_symbol: :before_stress_level, label_text: t('stress_records.stress_slider.before_stress_level'), stress_value: stress_record.before_stress_level || StressRecord::STRESS_LEVEL_MIN, margin_class: "mr-4" %>

    <%= render 'stress_slider', form: form, label_symbol: :after_stress_level, label_text: t('stress_records.stress_slider.after_stress_level'), stress_value: stress_record.after_stress_level || StressRecord::STRESS_LEVEL_MIN, margin_class: "ml-4" %>
  </div>

  <div class="my-5">
    <%= form.label :impression %>
    <%= form.text_area :impression, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit t('stress_records.form.submit'), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
