<%= form_with(model: stress_record, class: "contents") do |form| %>
  <% if stress_record.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(stress_record.errors.count, "error") %> prohibited this stress_record from being saved:</h2>

      <ul>
        <% stress_record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :stress_relief_date %>
    <%= form.date_field :stress_relief_date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :detail %>
    <%= form.text_area :detail, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :before_stress_level, "Before Stress Level" %>
    <div class="relative" data-controller="slider">
      <%= form.range_field :before_stress_level, min: 0, max: 10, value: stress_record.before_stress_level || 0, class: "range", step: 1, data: { action: "input->slider#updateOutput", slider_target: "slider" } %>
      <div class="w-full flex justify-between text-xs px-2">
        <% (0..10).each do |i| %>
          <span><%= i %></span>
        <% end %>
      </div>
      <div class="text-center mt-2">
        Current Value: <span data-slider-target="output"><%= stress_record.before_stress_level || 0 %></span>
      </div>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :after_stress_level %>
    <%= form.number_field :after_stress_level, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :impression %>
    <%= form.text_area :impression, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
