<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-12">
    <h1 class="font-bold text-4xl mt-4"><%= t('stress_records.index.title') %></h1>
    <%= link_to t('stress_records.index.new_stress_record'), new_stress_record_path, class: "rounded-lg py-3 px-5 mt-4 bg-sky-500 hover:bg-sky-400 text-white block font-medium" %>
  </div>

  <div class="my-5 max-w-5xl mx-auto">
    <div class="border p-4 rounded relative backdrop-blur-md bg-opacity-85 bg-white">
      <select class="select select-bordered bg-white w-auto max-w-sm absolute top-0 left-0 z-10" data-controller="records-chart" data-action="change->records-chart#changeRange">
        <option value="week" <%= @range == "week" ? 'selected' : '' %>><%= t('stress_records.index.weekly') %></option>
        <option value="month" <%= @range == "month" ? 'selected' : '' %>><%= t('stress_records.index.monthly') %></option>
      </select>
      <h2 class="font-bold text-2xl mb-4 text-center"><%= t('stress_records.index.stress_level_fluctuation') %></h2>
      <%= line_chart @data, height: "400px", library: {title: "Before Stress Level"} %>
    </div>
  </div>

  <div class="my-5 max-w-5xl mx-auto">
    <table class="min-w-full bg-white rounded-lg overflow-hidden">
      <thead class="bg-gray-200">
        <tr>
          <th class="py-2 px-4 text-left w-32"><%= t('stress_records.index.stress_relief_date') %></th>
          <th class="py-2 px-4 text-left"><%= t('stress_records.index.title_stress_relief') %></th>
          <th class="py-2 px-4 text-left"><%= t('stress_records.index.before') %></th>
          <th class="py-2 px-4 text-left"><%= t('stress_records.index.after') %></th>
          <th class="py-2 px-4"></th>
        </tr>
      </thead>
      <tbody>
        <% @stress_records.each do |stress_record| %>
          <tr class="hover:bg-gray-50 transition-colors duration-200 border">
            <td class="py-2 px-4 w-32 cursor-pointer" onclick="location.href='<%= stress_record_path(stress_record) %>'"><%= stress_record.stress_relief_date.to_date %></td>
            <td class="py-2 px-4 break-all cursor-pointer" onclick="location.href='<%= stress_record_path(stress_record) %>'"><%= stress_record.title %></td>
            <td class="py-2 px-4 cursor-pointer" onclick="location.href='<%= stress_record_path(stress_record) %>'"><%= stress_record.before_stress_level %></td>
            <td class="py-2 px-4 cursor-pointer" onclick="location.href='<%= stress_record_path(stress_record) %>'"><%= stress_record.after_stress_level %></td>
            <td class="py-2 px-4 flex justify-end">
              <%= link_to t('defaults.destroy'), stress_record_path(stress_record), method: :delete, data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_message') }, class: "btn btn-ghost ml-2 bg-red-500 hover:bg-red-400 text-white" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
