<%= form_with(model: stress_relief, class: "contents") do |form| %>
  <% if stress_relief.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= t('stress_reliefs.form.errors', count: stress_relief.errors.count) %></h2>

      <ul>
        <% stress_relief.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title, class: "inline-block" %>
    <span class="text-red-500">*</span>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: t('stress_reliefs.form.title_max_length') %>
  </div>

  <div class="my-5">
    <%= form.label :detail, class: "inline-block" %>
    <span class="text-red-500">*</span>
    <%= form.text_area :detail, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :difficulty, class: "inline-block" %>
    <span class="text-red-500">*</span>
    <div class="flex">
      <% (StressRelief::MIN_DIFFICULTY..StressRelief::MAX_DIFFICULTY).each do |rating| %>
        <%= form.radio_button :difficulty, rating, checked: rating == stress_relief.difficulty, class: "hidden star-rating", id: "rating_#{rating}" %>
        <%= form.label "rating_#{rating}", "★", class: (rating <= (stress_relief.difficulty || StressRelief::DEFAULT_DIFFICULTY) ? "text-yellow-500" : "text-gray-400") + " hover:text-yellow-500 cursor-pointer star-label" %>
      <% end %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :tag_names, StressRelief.human_attribute_name(:tag_names) %>
    <%= form.text_field :tag_names, value: @stress_relief.tag_names.join(', '), class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: t('stress_reliefs.form.placeholders.tag_names') %>
  </div>

  <div class="inline">
    <%= form.submit stress_relief.new_record? ? t('stress_reliefs.form.submit') : t('defaults.update'), class: "rounded-lg py-3 px-5 bg-blue-800 hover:bg-blue-700 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
