<% if current_user && @stress_relief.liked_by?(current_user) %>
  <%= link_to stress_relief_like_path(@stress_relief, @stress_relief.user_like(current_user)), class: "text-red-500 hover:text-red-400 transition duration-100 cursor-pointer mr-2 flex items-center", data: { turbo_method: "delete" } do %>
    <%= render 'like_icon' %>
    <span><%= @stress_relief.likes.count %></span>
  <% end %>
<% else %>
  <%= link_to stress_relief_likes_path(@stress_relief), class: "text-gray-500 hover:text-gray-400 transition duration-100 cursor-pointer mr-2 flex items-center", data: { turbo_method: "post" } do %>
    <%= render 'like_icon' %>
    <span><%= @stress_relief.likes.count %></span>
  <% end %>
<% end %>
