<%= link_to stress_relief_path(stress_relief), class: "block border p-5 rounded-xl hover:scale-105 transform transition-transform duration-300 bg-white flex-shrink-0 m-2", style: "min-height: 400px; flex-basis: calc(33.333% - 1rem); align-self: start;" do %>
  <h2 class="font-bold text-2xl mb-4 break-all"><%= stress_relief.title %></h2>
  <img src="<%= asset_path "stress_relief_board#{stress_relief.difficulty}.jpg" %>" alt="Stress Relief Image" class="w-full h-48 object-cover mb-4">
  
  <div class="flex justify-between items-center mb-2">
    <div class="text-xl">
      <%= render 'difficulty_stars', difficulty: stress_relief.difficulty %>
    </div>
    <p class="text-xl break-all"><%= stress_relief.tag_names.join(', ') %></p>
  </div>
  <div class="flex justify-between items-center mt-4">
    <div class="flex items-center text-pink-500">
      <%= render 'like_icon_outline' %>
      <span class="ml-2"><%= stress_relief.likes.count %></span>
    </div>
    <p class="text-xl"><%= stress_relief.user.name %></p>
  </div>
<% end %>
