<div class="w-full max-w-screen-xl mx-auto p-5 bg-gray-100">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% if flash[:alert] %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= flash[:alert] %></p>
  <% end %>

  <div class="mb-4">
    <h1 class="font-bold text-4xl inline-block"><%= t('stress_reliefs.index.title') %></h1>
    <%= link_to t('stress_reliefs.index.new_stress_relief'), new_stress_relief_path, class: "rounded-lg py-3 px-5 bg-sky-500 hover:bg-sky-400 text-white font-medium float-right" %>
    <div class="clear-both"></div>
  </div>

  <div class="text-center mb-6">
    <form action="<%= stress_reliefs_path %>" method="get" data-turbo-action="replace" data-turbo-frame="stress_reliefs" class="flex justify-between items-center">
      <div class="relative flex-grow">
        <input type="text" name="query" value="<%= params[:query] %>" data-autocomplete-input="stress_relief" placeholder="<%= t('search.input_placeholder') %>" class="border border-gray-300 p-2 rounded-md w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
        <div id="autocomplete-results" class="overflow-wrap break-word absolute top-full left-0 mt-2 w-full bg-white border border-gray-300 p-2 rounded-md shadow-sm divide-y divide-gray-300 hidden z-10 overflow-y-auto"></div>
      </div>
      <button type="submit" class="ml-2 bg-indigo-600 text-white p-2 rounded-md hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50">
        <%= t('defaults.search_button') %>
      </button>
    </form>
  </div>

  <div id="stress_reliefs" class="flex flex-wrap justify-center md:justify-between">
    <%= render @stress_reliefs %>
  </div>

  <div class="w-full text-center my-8">
    <%= paginate @stress_reliefs %>
  </div>
</div>
