<div class="mx-auto md:w-2/3 w-full p-5">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-start mb-6">
    <h1 class="text-4xl font-bold"><%= t('stress_reliefs.show.title') %></h1>
    <% if current_user == @stress_relief.user %>
      <div class="flex space-x-4">
        <%= link_to t('defaults.edit'), edit_stress_relief_path(@stress_relief), class: "rounded-lg py-3 px-5 bg-emerald-400 hover:bg-emerald-300 text-white inline-block font-medium mr-2" %>
        <%= link_to t('defaults.destroy'), stress_relief_path(@stress_relief), data: { turbo_method: 'delete', turbo_confirm: t('defaults.delete_message') }, class: "rounded-lg py-3 px-5 bg-red-500 hover:bg-red-400 text-white font-medium" %>
      </div>
    <% end %>
  </div>

  <div class="my-5">
    <label class="block text-lg font-medium mb-2"><%= StressRelief.human_attribute_name(:title) %></label>
    <div class="block w-full px-3 py-2 border-2 border-gray-400 rounded-md bg-gray-200 text-xl break-all">
      <%= @stress_relief.title %>
    </div>
  </div>

  <div class="my-5">
    <label class="block text-lg font-medium mb-2"><%= StressRelief.human_attribute_name(:detail) %></label>
    <div class="block w-full px-3 py-2 border-2 border-gray-400 rounded-md bg-gray-200 text-xl break-all h-[100px]">
      <%= simple_format @stress_relief.detail %>
    </div>
  </div>

  <div class="my-5 flex">
    <div class="mr-20">
      <label class="block text-lg font-medium mb-2"><%= StressRelief.human_attribute_name(:difficulty) %></label>
      <div class="text-xl">
        <%= render 'difficulty_stars', difficulty: @stress_relief.difficulty %>
      </div>
    </div>
    <div class="flex-grow ml-20">
      <label class="block text-lg font-medium mb-2"><%= StressRelief.human_attribute_name(:tag_names) %></label>
      <p class="text-xl break-all"><%= @stress_relief.tag_names.join(', ') %></p>
    </div>
  </div>

  <div class="mt-5 flex justify-between items-end space-x-4">
    <div class="flex space-x-4">
        <div class="flex flex-col items-center">
          <%= render 'like_link', stress_relief: @stress_relief %>
          <span class="text-pink-500"><%= t('defaults.like') %></span>
        </div>
        <div class="flex flex-col items-center">
          <%= link_to "ð•", "https://twitter.com/share?url=#{CGI.escape(request.original_url)}&text=#{CGI.escape("#{t('defaults.share_text', title: @stress_relief.title)}")}", target: "_blank", class: "text-2xl text-white bg-black px-1.5 py-1.0 rounded-none hover:bg-gray-700" %>
          <span class="text-black"><%= t('defaults.share') %></span>
        </div>
    </div>
    <div class="flex flex-col items-end"> 
      <label class="block text-lg font-medium mb-2"><%= User.human_attribute_name(:name) %></label>
      <p class="text-xl"><%= @stress_relief.user.name %></p>
    </div>
  </div>
</div>
