<div class="mx-auto md:w-2/3 w-full p-5">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% if flash[:alert] %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= flash[:alert] %></p>
  <% end %>

  <div class="mb-6">
    <h1 class="text-4xl font-bold inline-block"><%= t('stress_reliefs.show.title') %></h1>
    <% if current_user == @stress_relief.user %>
      <div class="flex space-x-4 float-right">
        <%= link_to t('defaults.edit'), edit_stress_relief_path(@stress_relief), class: "rounded-lg py-3 px-5 bg-emerald-600 hover:bg-emerald-500 text-white inline-block font-medium" %>
        <%= link_to t('defaults.destroy'), stress_relief_path(@stress_relief), data: { turbo_method: 'delete', turbo_confirm: t('defaults.delete_message') }, class: "rounded-lg py-3 px-5 bg-red-500 hover:bg-red-400 text-white font-medium" %>
      </div>
    <% end %>
    <div class="clear-both"></div>
  </div>

  <div class="my-5">
    <label class="block text-lg font-medium mb-2"><%= StressRelief.human_attribute_name(:title) %></label>
    <div class="block w-full px-3 py-2 border-2 border-gray-400 rounded-md bg-gray-200 text-xl break-all">
      <%= @stress_relief.title %>
    </div>
  </div>

  <div class="my-5">
    <label class="block text-lg font-medium mb-2"><%= StressRelief.human_attribute_name(:detail) %></label>
    <div class="block w-full px-3 py-2 border-2 border-gray-400 rounded-md bg-gray-200 text-xl break-all min-h-[100px] max-h-[300px] overflow-auto">
      <%= simple_format @stress_relief.detail %>
    </div>
  </div>

  <div class="my-5 flex">
    <div class="mr-10">
      <label class="block text-lg font-medium mb-2"><%= StressRelief.human_attribute_name(:difficulty) %></label>
      <div class="text-xl">
        <%= render 'difficulty_stars', difficulty: @stress_relief.difficulty %>
      </div>
    </div>
    <div class="flex-grow mr-10">
      <label class="block text-lg font-medium mb-2"><%= StressRelief.human_attribute_name(:tag_names) %></label>
      <p class="text-xl break-all"><%= @stress_relief.tag_names.join(', ') %></p>
    </div>
    <div class="flex flex-col items-end">
      <label class="block text-lg font-medium mb-2"><%= User.human_attribute_name(:name) %></label>
      <p class="text-xl"><%= @stress_relief.user.name %></p>
    </div>
  </div>

  <div class="mt-5 flex justify-between items-end space-x-4">
    <div class="flex space-x-4">
      <div class="flex flex-col items-center">
        <%= turbo_frame_tag "like_#{@stress_relief.id}" do %>
          <%= render 'likes/like_link', stress_relief: @stress_relief %>
        <% end %>
        <span class="text-pink-500"><%= t('defaults.like') %></span>
      </div>
      <div class="flex flex-col items-center">
        <%= link_to "ð•", "https://twitter.com/share?url=#{CGI.escape(request.original_url)}&text=#{CGI.escape("#{t('defaults.share_text', title: @stress_relief.title)}")}%0A#{CGI.escape(t('defaults.hashtags'))}", target: "_blank", class: "text-2xl text-white bg-black px-1.5 py-1.0 rounded-none hover:bg-gray-700" %>
        <span class="text-black"><%= t('defaults.share') %></span>
      </div>
      <div class="flex flex-col items-center">
        <%= link_to t('stress_reliefs.show.try_this_method'), new_stress_record_path(stress_relief_id: @stress_relief.id), class: "rounded-lg py-1 px-5 bg-blue-800 hover:bg-blue-700 text-white inline-block font-medium" %>
        <span class="text-blue-800"><%= t('stress_reliefs.show.try_this') %></span>
      </div>
    </div>
  </div>
</div>
