<div class="navbar bg-base-100">
  <div class="navbar-start">
    <a class="btn btn-ghost normal-case text-xl">RecordSRM</a>
  </div>
  <div class="navbar-end">
    <%= link_to "オススメのストレス解消法", "#", class: "btn btn-ghost normal-case text-xl" %>
    <a class="btn btn-ghost normal-case text-xl">ランキング</a>
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 origin-top-right right-0">
        <% if user_signed_in? %>
          <li><%= link_to "記録", "#" %></li>
          <li><%= link_to "いいね一覧", "#" %></li>
          <li><%= link_to "マイページ", "#" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "新規登録", "#" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
